
.carousel-content-mountains {
  background-image: url(../images/mountains.svg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 42%;
  position: absolute;
  background-size: cover;
  bottom: 0%;
  z-index: 20;
  width: 100%;
}


.carousel-content-title {
  position: absolute;
  top: 23%;
  z-index: 20;
  width: 100%;
  text-align: center;
  display: block;
  color: white;
  h1 {
    font-family: 'Shadows Into Light';
    font-size: 10vw;
  } p {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 4vw;
  }
}

.experience-wrapper {
  padding: 5%;
  background-color: #6CC7BE;
  min-height: 105vh;
  width: 100vw;
  position: relative;
  text-align: center;
  h4 {
    margin: 0px !important;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 4vw;
    margin-bottom: 5% !important;
  }
}

.experience-wrapper-content {
  display: flex;
  min-height: 75vh;
  overflow: hidden;
  justify-content: space-between;
  padding: 1%;
  h4 {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: #6CC7BE;
    font-size: 160%;
    margin: 10% !important;
  }
  p {
    text-align: left;
    font-family: 'Comfortaa', cursive;
    font-size: 80%;
  }
}

.experience-wrapper-content-strategy, .experience-wrapper-content-development, .experience-wrapper-content-design {
  background-color: rgb(260,260,260);
  padding: 25px;
  border-radius: 5px;
  margin: 5% 0%;
  height: 425px;
  :hover {
    box-shadow: none;
  }
}

.strategy-icon, .design-icon, .development-icon {
  width: 40%;
  height: auto;
}

.get-in-touch-wrapper {
  padding: 5%;
  background-color: #52C6F1;
  min-height: 105vh;
  width: 100vw;
  position: relative;
  text-align: center;
  h4 {
    margin: 0px !important;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 4vw;
    margin-bottom: 5% !important;
  }
  p {
    color: white;
    margin: 7%;
    font-size: 100%;
  }
}

.wechat-icon {
  height: 30vw;
  margin: 5%;
}

.experience-wrapper-content-icons {
  display: flex;
  justify-content: space-around;
  height: 20vh;
  font-size: 10vw;
  color: white;
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    margin-top: -2%;
    transition: 0.25s;
    transition-timing-function: ease-out;
  }
}

